mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin socials(modClass)
  -
    var socials_array = [
        ['vk', 'http://www.vk.com'],
        ['gh', 'http://www.github.com'],
        ['in', 'http://www.linkedin.com']
    ]
  ul.socials(class=`${modClass}`)
    each item in socials_array
      li.socials__item
        a(href=`${item[1]}`).socials__link
          +icon(item[0], 'socials__link-icon')


mixin menu(menuItems, modClass, indexIsActive)
    .menu(class=modClass)
      ul.menu__list
        each item, index in menuItems
          if index == indexIsActive
            li.menu__item.is-active
              a.menu__link(href=item[1])= item[0]
          else
            li.menu__item
              a.menu__link(href=item[1])= item[0]


mixin radioInput(text)
  label.radio
    input(type="radio" name="radio")
    div.radio-fake
    span= text
  

mixin checkboxInput(text)
  label.checkbox
    input(type="checkbox" checked='checked')
    div.checkbox-fake
    span= text

mixin heroUser()
  .user(class=modClass)
    .user__img.avatar
      .user__img-pic
    .user__description
      .user__name Владимир Астахов
      .user__info Личный сайт разработчика

mixin triangles(side, color)
  svg(style="display: block" height="200" width="100%" class = "triangles")
    polygon.triangles_left( points="0,0 0,199 250,199" style=	
    "fill:#408528;")
    polygon.triangles_right(points="500,0 500,199 250,199" style=	
    "fill:#0f2db3;")
  



